<div class=" container-fluid  mt-2">
    <form [formGroup]="roleForm" >
        <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="text">Role Name:</label>
              <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="name"> 
              </div> 
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text"> Description:</label>
                <input type="text"  class="form-control client-field"[maxLength]="150" id="description" formControlName="description"> 
              </div>
              <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" [class.disabled] = "roleForm.invalid" (click)="createRole()">Add</button>
                    

                </div>

              </div>

              

        </div>
    </form>


</div>

