<div class=" container-fluid  mt-2">
    <form [formGroup]="roleForm" >
        <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="text">Role Name:</label>
              <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="name"
              [class.is-invalid]="f['name'].invalid && f['name'].touched ">
              <div class="invalid-feedback mt-0" *ngIf="f['name'].invalid && f['name'].touched ">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">
                  Role name is required
                </div>
                <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
                  Minimum 3 character is rquired
                </div>
                <div *ngIf="f['name'].errors  && f['name'].errors['pattern']">
                  Only character is allowed
                </div>
              </div>
              
              </div> 
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text"> Description:</label>
                <input type="text"  class="form-control client-field"[maxLength]="150" id="description" formControlName="description"
                [class.is-invalid]="f['description'].invalid && f['description'].touched ">
                <div class="invalid-feedback mt-0" *ngIf="f['description'].invalid && f['description'].touched ">
                  <div *ngIf="f['description'].errors && f['description'].errors['required']">
                    description is required
                  </div>
                  <div *ngIf="f['description'].errors  && f['description'].errors['pattern']">
                    Only character is allowed
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" [class.disabled] = "roleForm.invalid" (click)="createRole()">Add</button>
                    

                </div>

              </div>

              

        </div>
    </form>


</div>

