<div class="container-fluid mt-3">
    <table class="table border  table-bordered ">
    <thead class="table-light">
      <tr>
        <th>Role Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleList">
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/auth/role/edit/{{ role.id }}"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger btn-delete"
            (click)="deleteRole(role.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
