<div class="container-fluid mt-2">
  <form [formGroup]="editRoleForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Role Name:</label>
        <input
          type="text"
          class="form-control client-field"
          maxLength="150"
          id="name"
          formControlName="name"
          [class.is-invalid]="
            editRoleFormControls['name'].invalid &&
            editRoleFormControls['name'].touched
          "
        />
        <div
          class="invalid-feedback mt-0"
          *ngIf="
            editRoleFormControls['name'].invalid &&
            editRoleFormControls['name'].touched
          "
        >
          <div
            *ngIf="
              editRoleFormControls['name'].errors &&
              editRoleFormControls['name'].errors['required']
            "
          >
            Role name is required
          </div>
          <div
            *ngIf="
              editRoleFormControls['name'].errors &&
              editRoleFormControls['name'].errors['minlength']
            "
          >
            Minimum 3 character is rquired
          </div>
          <div
            *ngIf="
              editRoleFormControls['name'].errors &&
              editRoleFormControls['name'].errors['pattern']
            "
          >
            Only character is allowed
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Description:</label>
        <input
          type="text"
          class="form-control client-field"
          [maxLength]="150"
          id="description"
          formControlName="description"
          [class.is-invalid]="
            editRoleFormControls['description'].invalid &&
            editRoleFormControls['description'].touched
          "
        />
        <div
          class="invalid-feedback mt-0"
          *ngIf="
            editRoleFormControls['description'].invalid &&
            editRoleFormControls['description'].touched
          "
        >
          <div
            *ngIf="
              editRoleFormControls['description'].errors &&
              editRoleFormControls['description'].errors['required']
            "
          >
            description is required
          </div>
          <div
            *ngIf="
              editRoleFormControls['description'].errors &&
              editRoleFormControls['description'].errors['pattern']
            "
          >
            Only character is allowed
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-primary"
            [class.disabled]="editRoleForm.invalid"
            (click)="UpdateRole(editRoleForm.value)"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
