


<div class=" container-fluid  mt-3">
  <form [formGroup]="ledgerForm" >
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Ledger Name:</label>
        <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="name">
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Year:</label>
        <input type="number" class="form-control client-field" maxLength="150" id="amount" formControlName="year">
      </div>
    </div>
    <table class="table table-bordered" formArrayName="ledgerquantities">
      <thead class="table-light">
        <tr>
          <th>Description</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Date</th>
          
        </tr>
      </thead>
      <tbody>

     
     
      <tr *ngFor="let quantity of ledgerquantities; let i=index" [formGroupName]="i">
        <td>
          <input type="text" formControlName="description" class="form-control text" placeholder="Enter Description">
        </td>
        <td>
          <input type="number" formControlName="credit" class="form-control" >
        </td>
        <td>
          <input type="number" formControlName="debit" class="form-control" >
        </td>
        <td>
          <input type="date" formControlName="date" class="form-control">
        </td>
        <!-- <td>
          <button type="button" (click)="removeRow(i)" class="btn btn-danger">Remove</button>
        </td> -->
      </tr>
    </tbody>
    </table>

    <table class="table border table table-bordered 2 px solid mt-2">
      <tr>
        <th>Profit/Loss</th>
        <th >
          <input type="number" formControlName="loss" name="loss" class="form-control" 
            readonly>
        </th>

        <ng-template #other_content>
          <th>{{0}}</th>
        </ng-template>
        <th >
          <input type="number" formControlName="profit" name="profit" class="form-control"
            readonly>

        </th>

        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>Tottal</th>

        <th scope="col" >
          <input type="number" formControlName="creditSum" name="creditSum" class="form-control" readonly>
        </th>
        <th scope="col" >
          <input type="number" formControlName="creditSum" name="creditSum" class="form-control" readonly>
        </th>

        <th></th>
        <th></th>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" [class.disabled]="ledgerForm.invalid" (click)="UpdateLedger()">Update</button>
      </div>

    </div>
  </form>
</div>