th{
    text-align:center;
}

input{
    text-align:center;
}

.minus{
    margin-left: 8px;
}
.plus-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-datepicker-calendar {
    display: none;
  }
 
  ::ng-deep .p-calendar {
    width: 100%;
    height: 38px;
   
  }

  

  

