<div class="container">
    <div class="row mt-4">
        <div class="col-md-5">
            
            <form [formGroup]="LoginForm" (ngSubmit)="authenticateLogin()">
                 
            
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control"  placeholder="Enter Email" formControlName="email">
                 
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Enter password" formControlName="password" >

                  </div>
 
                    <button type="submit" class="btn btn-primary">Log in</button>
                 
              
            </form>
           

        </div>

    </div>

</div>



