

 /* protected-data{
    display:flex;
    justify-content: center;
 } */
 h3{
   margin-top: 15px;
   display: flex;
    justify-content: center;
    color: red;
 }

 .main{
   height: 100%;
   

 }