h3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: red;
}

.main {
  height: 100%;
}
.main-area {
  height: 100vh;
  display: flex;

  flex-direction: row;
}

#content {
  width: 100%;
  /* height: calc(100vh - 92px); */
  height: 100vh;
  display: inli100ne-block;
  vertical-align: top;
  overflow: auto;
}
