
<div class="container-fluid mt-2">

    <table class="table border 2 px solid">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let groupdata of permissionGroupList">
                <td>{{groupdata.name}}</td>
                <td>{{groupdata.description}}</td>
                <td>
                    <button type="button" class="btn btn-primary" routerLink="/permission-group/edit/{{groupdata.id}}">Edit</button>
                    <button type="button" class="btn btn-danger btn-delete" (click)="deletePermissionGroupList(groupdata.id)">Delete</button>
    
                </td>
    
              
    
            </tr>
    
        </tbody>
    </table>
    
    
    </div>
