<div class="container-fluid mt-3">
  <table class="table border  table-bordered ">
    <thead class="table-light">
      <tr>
        <th>User Name</th>
        <th>Description</th>
        <th>Role</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.name }}</td>
        <td>{{ user.description }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.number }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/auth/users/edit/{{ user.id }}"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger btn-delete"
            (click)="deleteUser(user.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
