<div class=" container-fluid  mt-2">
  <form [formGroup]="ledgerForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Ledger Name:</label>
        <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="name">
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label" for="text">Year:</label>
        <input type="number" class="form-control client-field" maxLength="150" id="amount" formControlName="year">
      </div>
    </div>
    <table class="table border table table-bordered 2 px solid mt-2" formArrayName="ledgerquantities">
      <tr>
        <th colspan="2">Add Ledger Record :</th>
        <th width="150px"><button type="button" class="btn btn-primary" (click)="addQuantity()">Add Row</button></th>
        <th>
          <input type="number" class="form-control" (keyup)="onClickNumber($event)">
        </th>
      </tr>

      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
        <td>
          <!-- Description : -->
          <input type="text" formControlName="description" class="form-control text" placeholder="Enter Description">
        </td>
        <td>
          Credit:
          <input type="number" formControlName="credit" class="form-control" (keyup)="onKeyPressCredit($event, i)">
        </td>
        <td>
          Debit:
          <input type="number" formControlName="debit" class="form-control" (keyup)="onKeyPressDebit($event, i)">
        </td>
        <td>
          Date:
          <input type="date" formControlName="date" class="form-control">
        </td>
        <td>
          <button type="button" (click)="removeRow(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </table>

    <table class="table border table table-bordered 2 px solid mt-2">
      <tr>
        <th>Profit/Loss</th>
        <th *ngIf="debitSum>creditSum ;else other_content ">
          <input type="number" formControlName="loss" name="loss" class="form-control" [(ngModel)]="ledgerLost"
            readonly>
        </th>

        <ng-template #other_content>
          <th>{{0}}</th>
        </ng-template>
        <th *ngIf="creditSum>debitSum ;else other_content">
          <input type="number" formControlName="profit" name="profit" class="form-control" [(ngModel)]="ledgerProfit"
            readonly>

        </th>

        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>Tottal</th>

        <th scope="col" *ngIf="creditSum>debitSum">
          <input type="number" formControlName="creditSum" name="creditSum" class="form-control" readonly>
        </th>
        <th scope="col" *ngIf="creditSum>debitSum">
          <input type="number" formControlName="creditSum" name="creditSum" class="form-control" readonly>
        </th>
        <ng-container>
          <th scope="col" *ngIf="creditSum<debitSum">
            <input type="number" formControlName="debitSum" name="debitSum" class="form-control" readonly>
          </th>
          <th scope="col" *ngIf="creditSum<debitSum">
            <input type="number" formControlName="debitSum" name="debitSum" class="form-control" readonly>
          </th>

          <th scope="col" *ngIf="creditSum==debitSum">
            <input type="number" formControlName="creditSum" name="creditSum" class="form-control" readonly>
          </th>
          <th scope="col" *ngIf="creditSum==debitSum">
            <input type="number" formControlName="debitSum" name="debitSum" class="form-control" readonly>
          </th>

        </ng-container>

        <th></th>
        <th></th>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" [class.disabled]="ledgerForm.invalid">Save</button>
      </div>

    </div>
  </form>
</div>