
  

  

<div class=" container-fluid  mt-2">
    <form [formGroup]="ledgerForm" (ngSubmit)="createLedger()">
        <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="text">Description:</label>
              <input type="text" class="form-control client-field" maxLength="150" id="description" formControlName="description"> 
              </div> 
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text">Amount:</label>
                <input type="number"  class="form-control client-field"[maxLength]="150" id="amount" formControlName="amount"> 
              </div>
              
        </div>
        <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text">Date:</label>
                <input type="date"  class="form-control client-field"[maxLength]="150" id="date" formControlName="date"> 
              </div>
              
        </div>
        
        
        <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary" [class.disabled] = "ledgerForm.invalid" >Add</button>
            </div>

          </div>
    </form>

    <table class="table border table table-bordered 2 px solid mt-2">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Credit</th>
                <th scope="col">Debit</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
           

            
            <tr *ngFor="let ledger of ledgerList" >
                <td>{{ledger.description}}</td>
                <td >{{ledger.amount}}</td>
                <td>{{ledger.debit}}</td>

                <td>{{ledger.date|date}}</td>
                <td>
                    <button type="button" class="btn btn-primary" routerLink="/auth/ledger/edit/{{ledger.id}}">Edit</button>
                    <button type="button" class="btn btn-danger btn-delete" (click)="deleteLedger(ledger.id)">Delete</button>
    
                </td>    
    
            </tr>
        

            <tr >
                <th scope="col">Profit/Loss</th>
                
              
                <th scope="col" *ngIf="debitSum>creditSum ;else other_content">{{debitSum-creditSum}}</th>
                <ng-template #other_content>  <td></td></ng-template>

                <th scope="col" *ngIf="creditSum>debitSum">{{creditSum-debitSum}}</th>
                
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            
                <tr >
                    <th scope="col">Tottal</th>
                    <th scope="col" *ngIf="creditSum>debitSum">{{creditSum}}</th>
                    <th scope="col"  *ngIf="creditSum>debitSum">{{creditSum}}</th>
                    <ng-container>
                        <th scope="col" *ngIf="creditSum<debitSum">{{debitSum}}</th>
                        <th scope="col"  *ngIf="creditSum<debitSum">{{debitSum}}</th>

                        <th scope="col" *ngIf="creditSum==debitSum">{{creditSum}}</th>
                        <th scope="col"  *ngIf="creditSum==debitSum">{{debitSum}}</th>

                    </ng-container>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>


           
            
    
        </tbody>
    </table>


</div>





   
    
   
   


   