
<div class=" container-fluid  mt-2">
    <form [formGroup]="ledgerForm" >
        <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="text">Description:</label>
              <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="iamount"> 
              </div> 
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text">Credit:</label>
                <input type="text"  class="form-control client-field"[maxLength]="150" id="amount" formControlName="amount"> 
              </div>
              
        </div>
        <div class="row">
              <!-- <div class="col-md-6 mb-3">
              <label class="form-label" for="text">Debit:</label>
              <input type="text" class="form-control client-field" maxLength="150" id="name" formControlName="debit"> 
              </div>  -->
              <div class="col-md-6 mb-3">
                <label class="form-label" for="text">Date:</label>
                <input type="text"  class="form-control client-field"[maxLength]="150" id="description" formControlName="date"> 
              </div>
              
        </div>
        
        
        <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary" [class.disabled] = "ledgerForm.invalid" (click)="createLedger()">Add</button>
            </div>

          </div>
    </form>

    <table class="table border table table-bordered 2 px solid mt-2">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Credit</th>
                <th scope="col">Debit</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ledger of ledgerList">
                <td>{{ledger.iamount}}</td>
                <td>{{ledger.amount}}</td>
                <td *ngIf="negitiveNumber ;else positive">{{ledger.amount}}</td>
                <ng-template #positive>  <td>D</td></ng-template>

                <td></td>
                <!-- <td>{{ledger.credit}}</td>
                <td>{{ledger.debit}}</td>   -->
                <td>{{ledger.date}}</td>
                <td>
                    <button type="button" class="btn btn-primary" routerLink="/auth/ledger/edit/{{ledger.id}}">Edit</button>
                    <button type="button" class="btn btn-danger btn-delete" (click)="deleteLedger(ledger.id)">Delete</button>
    
                </td>
    
              
    
            </tr>

            <tr >
                <th scope="col">Profit/Loss</th>
                
              
                <th scope="col" *ngIf="debitSum>creditSum ;else other_content">{{debitSum-creditSum}}</th>
                <ng-template #other_content>  <td></td></ng-template>

                <th scope="col" *ngIf="creditSum>debitSum">{{creditSum-debitSum}}</th>
                <!-- <ng-container>
                    <th scope="col" *ngIf="debitSum>creditSum">{{debitSum-creditSum}}</th>

                    
                    <th scope="col" *ngIf="creditSum>debitSum">{{creditSum-debitSum}}
                        Hello
                    </th>


                </ng-container> -->
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            
                <tr >
                    <th scope="col">Tottal</th>
                    <th scope="col" *ngIf="creditSum>debitSum">{{creditSum}}</th>
                    <th scope="col"  *ngIf="creditSum>debitSum">{{creditSum}}</th>
                    <ng-container>
                        <th scope="col" *ngIf="creditSum<debitSum">{{debitSum}}</th>
                        <th scope="col"  *ngIf="creditSum<debitSum">{{debitSum}}</th>
                        <th scope="col" *ngIf="creditSum==debitSum">{{creditSum}}</th>
                        <th scope="col"  *ngIf="creditSum==debitSum">{{debitSum}}</th>

                    </ng-container>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>

           
            
    
        </tbody>
    </table>


</div>







  
    

   
  


   