<div class="container-fluid  mt-3">
    <table class="table border table table-bordered 2 px solid mt-2">
        <thead class="table-light">
            <tr>
                <th>Ledger Name</th>
                <th>Year</th>
                <th>Tottal Credit</th>
                <th>Tottal Debit</th>
                <th>Loss</th>
                <th>Profit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let ledger of ledgerList">
                <td>{{ledger.name}}</td>
                <td>{{ledger.year}}</td>
                <td>{{ledger.creditSum}}</td>
                <td>{{ledger.debitSum}}</td>
                <td>{{ledger.loss}}</td>
                <td>{{ledger.profit}}</td>
                <td>
                    <button type="button" class="btn btn-primary"
                        routerLink="/auth/ledger/edit/">Edit</button>
                    <button type="button" class="btn btn-danger btn-delete"
                        (click)="deleteLedger(ledger.id)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>